set daemon  30              # check services at 30 seconds intervals

set pidfile /var/run/monit.pid
set idfile /var/.monit.id
set statefile /var/.monit.state

set httpd port {{monit_http_port}} and
{% if 'eth1' in ansible_interfaces %}
    use address {{ansible_eth1.ipv4.address}}
{% else %}
    use address {{ansible_eth0.ipv4.address}}
{% endif %}
    allow consul:consul read-only     # require user:password

include /etc/monit.d/*
