[Unit]
Description=Pro-active monitoring utility for unix systems
After=network.target
Documentation=man:monit(1) https://mmonit.com/wiki/Monit/HowTo 

[Service]
Type=simple
KillMode=process
ExecStart=/opt/monit/bin/monit -I -c /opt/monit/conf/monitrc
ExecStop=/opt/monit/bin/monit -c /opt/monit/conf/monitrc quit
ExecReload=/opt/monit/bin/monit -c /opt/monit/conf/monitrc reload
Restart = on-abnormal
StandardOutput=null

[Install]
WantedBy=multi-user.target
