-----BEGIN EC PRIVATE KEY-----
MIGkAgEBBDA/SWOOelWwtgOkDbEA1nMwO2UKKQ/j2cJoljHLfPoS5r//rz7ddLXM
HRseqTmnbvqgBwYFK4EEACKhZANiAAR4ytMbqcvvuNInCMFnU6Z81TBzxscppurj
Nm3Rgb373Cf+6nS2hmkir1SaGhzQ11GTVVvchd+EsEoO4Yu9xuu9pdkFsMZBTycx
lHj8iuwspQGuI9Sj1K1Vome7v5WWZDQ=
-----END EC PRIVATE KEY-----

