[Unit]
Description=consulesm agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart={{ consulesm_binary["binary_location"] }} -config-dir={{ consulesm_binary["config_location"] | dirname }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
