addr:
  tcp://kafka0:{{ kafka_properties["zookeeper_port"] }}:
    reachable: true
    timeout: 500
  tcp://kafka1:{{ kafka_properties["zookeeper_port"] }}:
    reachable: true
    timeout: 500
  tcp://kafka2:{{ kafka_properties["zookeeper_port"] }}:
    reachable: true
    timeout: 500
  tcp://kafka0:{{ kafka_properties["kafka_port"] }}:
    reachable: true
    timeout: 500
  tcp://kafka1:{{ kafka_properties["kafka_port"] }}:
    reachable: true
    timeout: 500
  tcp://kafka2:{{ kafka_properties["kafka_port"] }}:
    reachable: true
    timeout: 500

package:
  {{ kafka_java_version }}:
    installed: true 

port:
  tcp:2181:
    listening: true
    ip:
    - 0.0.0.0
#  tcp6:2181:
#    listening: true
#    ip:
#    - ::
  tcp:9092:
    listening: true
    ip:
    - 0.0.0.0
#  tcp6:9092:
#    listening: true
#    ip:
#    - ::

process:
  java:
    running: true
