package:
  {{ spark_java_version }}:
    installed: true 
port:
  tcp:7077:
    listening: true
    ip:
    - 0.0.0.0
#  tcp6:7077:
#    listening: true
#    ip:
#    - ::
  tcp:8081:
    listening: true
    ip:
    - 0.0.0.0
#  tcp6:8081:
#    listening: true
#    ip:
#    - ::
process:
  java:
    running: true
