addr:
{%raw%}{{- range mkSlice "kafka0" "kafka1" "kafka2"}}{%endraw%}

  tcp://{%raw%}{{.}}{%endraw%}:{{ kafka_properties["zookeeper_port"] }}:
    reachable: true
    timeout: 500
  tcp://{%raw%}{{.}}{%endraw%}:{{ kafka_properties["kafka_port"] }}:
    reachable: true
    timeout: 500
{%raw%}{{end}}{%endraw%}

package:
  {{ kafka_java_version }}:
    installed: true 

port:
  tcp:{{ kafka_properties["zookeeper_port"] }}:
    listening: true
    ip:
    - 0.0.0.0
#  tcp6:{{ kafka_properties["zookeeper_port"] }}:
#    listening: true
#    ip:
#    - ::
  tcp:{{ kafka_properties["kafka_port"] }}:
    listening: true
    ip:
    - 0.0.0.0
#  tcp6:{{ kafka_properties["kafka_port"] }}:
#    listening: true
#    ip:
#    - ::

process:
  java:
    running: true
