package:
  {{ spark_java_version }}:
    installed: true 
port:
  tcp:{{ spark_properties["master_port"] }}:
    listening: true
    ip:
    - 0.0.0.0
#  tcp6:{{ spark_properties["master_port"] }}:
#    listening: true
#    ip:
#    - ::
  tcp:{{ spark_properties["master_ui_port"] }}:
    listening: true
    ip:
    - 0.0.0.0
#  tcp6:{{ spark_properties["master_ui_port"] }}:
#    listening: true
#    ip:
#    - ::
process:
  java:
    running: true
