[Unit]
Description=GOSS - Quick and Easy server validation
After=network.target
Documentation=https://github.com/aelsabbahy/goss/blob/master/docs/manual.md 

[Service]
ExecStart={{ goss_binary['binary_location'] | dirname }}/gosserver
ExecStop=/bin/kill -s QUIT ${MAINPID}
Restart=on-abnormal
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
