[
	{
		"key": "consul-alerts/config/notifiers/email/",
		"flags": 0,
		"value": ""
	},
	{
		"key": "consul-alerts/config/notifiers/email/cluster-name",
		"flags": 0,
		"value": ""
	},
	{
		"key": "consul-alerts/config/notifiers/email/enabled",
		"flags": 0,
		"value": ""
	},
	{
		"key": "consul-alerts/config/notifiers/email/port",
		"flags": 0,
		"value": ""
	},
	{
		"key": "consul-alerts/config/notifiers/email/receivers",
		"flags": 0,
		"value": ""
	},
	{
		"key": "consul-alerts/config/notifiers/email/sender-email",
		"flags": 0,
		"value": ""
	},
	{
		"key": "consul-alerts/config/notifiers/email/url",
		"flags": 0,
		"value": ""
	}
]
