[
	{
		"key": "consul-alerts/config/notifiers/email/",
		"flags": 0,
		"value": ""
	},
	{
		"key": "consul-alerts/config/notifiers/email/cluster-name",
		"flags": 0,
		"value": "WU9VUi1DTFVTVEVSLU5BTUU="
	},
	{
		"key": "consul-alerts/config/notifiers/email/enabled",
		"flags": 0,
		"value": "dHJ1ZQ=="
	},
	{
		"key": "consul-alerts/config/notifiers/email/port",
		"flags": 0,
		"value": "MjU="
	},
	{
		"key": "consul-alerts/config/notifiers/email/receivers",
		"flags": 0,
		"value": "WyJmb29AYmFyLmNvbSJd"
	},
	{
		"key": "consul-alerts/config/notifiers/email/sender-email",
		"flags": 0,
		"value": "Q29uc3VsQFlPVVItQ0xVU1RFUi1OQU1F"
	},
	{
		"key": "consul-alerts/config/notifiers/email/url",
		"flags": 0,
		"value": "U01UUC1TRVJWRVI="
	}
]
