[Unit]
Description=Vigil - Microservices status page.
After=network.target
Documentation=https://github.com/valeriansaliou/vigil 

[Service]
ExecStart={{ vigil_binary["binary_location"] }} -c {{ vigil_binary["config_location"] }}
ExecStop=/bin/kill -s QUIT ${MAINPID}
Restart = on-abnormal
StandardOutput=null

[Install]
WantedBy=multi-user.target
