version: '2.4'

services:

  cadvisor:
    image: google/cadvisor:{{ cadvisor_properties["image_tag"] }}
    container_name: cadvisor
    hostname: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - "{{ cadvisor_properties["host_port"] }}:8080"
    mem_limit: 250m
    restart: always
