server.port: {{kibana_port}}
elasticsearch.url: "http://localhost:{{http_port}}"

{% if apply_xpack %}
#xpack.security.enabled: false
#xpack.graph.enabled: false
#xpack.ml.enabled: false
#xpack.reporting.enabled: false
#xpack.security.enabled: false
xpack.monitoring.enabled: true
{% endif %}

elasticsearch.requestTimeout: [[ keyOrDefault "service/kibana/elasticsearch.requestTimeout@{{consul_datacenter}}" "{{kibana_esreq_timeout}}" ]]
