global
    pidfile /var/run/haproxy.pid

    # Default SSL material locations
    ca-base /usr/local/etc/ssl/certs
    crt-base /usr/local/etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    ssl-default-bind-options   no-sslv3 no-tls-tickets force-tlsv12
    ssl-default-bind-ciphers   ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS

    spread-checks 4
    tune.maxrewrite 1024
    tune.ssl.default-dh-param 2048

defaults
    mode    http
    balance roundrobin

    option  dontlognull
    option  dontlog-normal
    option  redispatch

    maxconn 5000
    timeout connect 5s
    timeout client  20s
    timeout server  20s
    timeout queue   30s
    timeout http-request 5s
    timeout http-keep-alive 15s

frontend www-http
    bind 0.0.0.0:80
    reqadd X-Forwarded-Proto:\ http
    default_backend www-backend

frontend www-https
    #Replace this with the name of your ssl certificate
    bind 0.0.0.0:443 ssl crt /etc/ssl/certs/hzcastmc.pem 
    reqadd X-Forwarded-Proto:\ https
    default_backend www-backend

backend www-backend
    # Tell haproxy to redirect all http traffic to https
    redirect scheme https if !{ ssl_fc }
    server hzcastmc hzcastmc:8080 check
