docker-bench-security:
  image: docker/docker-bench-security:{{ dckrbnchscrty_properties["image_tag"] }}
  cap_add:
    - audit_control
  labels:
    - docker_bench_security
  net: host
  pid: host
  stdin_open: true
  tty: true
  volumes:
    - /var/lib:/var/lib
    - /var/run/docker.sock:/var/run/docker.sock
    - /usr/lib/systemd:/usr/lib/systemd
    - /etc:/etc
  command: -b
