[Unit]
Description=consul alert
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/opt/consul/consul-alerts start --watch-events --watch-checks --log-level=debug
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
