mount:
  /:
    exists: true
    filesystem: overlay
    usage:
      lt: 90

port:
  tcp:22:
    listening: true
    ip:
    - 0.0.0.0
  tcp6:22:
    listening: true
    ip:
    - '::'

user:
  sshd:
    exists: true
    uid: 74
    gid: 74
    groups:
    - sshd
    home: /var/empty/sshd
    shell: /sbin/nologin

group:
  sshd:
    exists: true
    gid: 74

package:
  docker-ce:
    installed: true

service:
  sshd:
    enabled: true
    running: true
  docker:
    enabled: true
    running: true

process:
  sshd:
    running: true
  containerd:
    running: true

dns:
  localhost:
    resolvable: true
    addrs:
      consist-of: ["127.0.0.1","::1"]
    timeout: 500 # in milliseconds
