check process gosserver matching goss
  start program = "/usr/bin/systemctl start goss" with timeout 60 seconds
  stop program = "/usr/bin/systemctl stop goss"

  if failed port {{ goss_binary['listen_port'] }} for 6 cycles then restart
