-----BEGIN CERTIFICATE-----
MIICNTCCAbugAwIBAgIRAOE+7eqHsv7xl3jhuwZ8Cn4wCgYIKoZIzj0EAwMwYjEJ
MAcGA1UEBhMAMQkwBwYDVQQIEwAxCTAHBgNVBAcTADEJMAcGA1UEERMAMRQwEgYD
VQQKEwtRdWFseXMsIEluYzEJMAcGA1UECxMAMRMwEQYDVQQDEwpxdWFseXMuY29t
MB4XDTE3MDkyODA2MTAwNloXDTE4MDkyODA2MTAwNlowYjEJMAcGA1UEBhMAMQkw
BwYDVQQIEwAxCTAHBgNVBAcTADEJMAcGA1UEERMAMRQwEgYDVQQKEwtRdWFseXMs
IEluYzEJMAcGA1UECxMAMRMwEQYDVQQDEwpxdWFseXMuY29tMHYwEAYHKoZIzj0C
AQYFK4EEACIDYgAEeMrTG6nL77jSJwjBZ1OmfNUwc8bHKabq4zZt0YG9+9wn/up0
toZpIq9Umhoc0NdRk1Vb3IXfhLBKDuGLvcbrvaXZBbDGQU8nMZR4/IrsLKUBriPU
o9StVaJnu7+VlmQ0ozUwMzAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYB
BQUHAwEwDAYDVR0TAQH/BAIwADAKBggqhkjOPQQDAwNoADBlAjBEc8FVul9fbXG3
QMn+C8iiAV4x3C8C938UQSanH3LG0AyXsRFCiFbXZU+Z1YuOOaQCMQCsfvc8ggI+
f8TUWgaJDi/LQMgCbvyU0ql0iZ14+JPzNp5BAzWvRwPlmhJdkm6NHkA=
-----END CERTIFICATE-----

