#! /bin/bash

pushd {{ docker_packages['all']['docker_compose_dir'] }}
{{ docker_packages['all']['docker_compose_location'] }} -f \
{{ docker_packages['all']['docker_compose_dir'] }}/monitoror.yml up -d 2>&1| \
tee /var/log/monitoror.log

